[submodule "deva_p1_back"]
	path = deva_p1_back
	url = https://github.com/w1vern/deva_p1_back
	branch = dev
[submodule "deva_transcript"]
	path = deva_transcript
	url = https://github.com/dmelackov/deva_transcript
	branch = dev
[submodule "deva-proj1-front"]
	path = deva-proj1-front
	url = https://github.com/ImmortalAI/deva-proj1-front
	branch = dev
